@media (max-width: 1280px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .item
    &__info
      &--popular
        padding: 30px 19px 0px 20px
  .footer
    &__input
      max-width: 100%
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: 48px
    &-menu
      &__list
        padding-top: 19px
        padding-bottom: 23px
        justify-content: space-around
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .logo
    width: 132px
  .hotel
    padding-bottom: 60px
    &-info
      &__name
        margin-top: 5px
    &-grid
      flex-direction: column
    &-description
      padding-left: 1px
    &__slider
      margin-bottom: 30px
    &-slider
      width: 100%
    &-right
      flex-direction: row
  .booking
    width: 340px
    padding: 28px 22px 26px 23px
  .map
    width: 340px
    height: 210px
  .newsletter
    padding: 72px 0 73px 0
  .reviews
    padding: 12px 0 70px 0
    &-slider
      &__item
        max-width: 580px
        padding: 0 60px 30px 66px
        &:before, &::after
          display: none
      &__button
        &--prev
          left: 1px
          top: 157px
        &--next
          right: 0px
          top: 157px
    &__title
      margin-bottom: 46px
      font-size: 30px
  .activities
    padding: 30px 0 50px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
  .packages
    &-list
      grid-template-columns: 1fr 1fr
  .item
    &__info
      &--popular
        padding: 35px 19px 0px 20px
  .footer
    padding: 72px 0 46px 0
    &-wrapper
      grid-template-columns: repeat(12, 1fr)
      row-gap: 30px
    &__logo
      grid-row: 1 / 2
      grid-column: span 3
      width: 96px
      margin-top: 0
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 9
        align-self: center
        margin: 11px 0 0 7px
    &__categories
      grid-row: 2 / 3
      grid-column: span 3
      margin-top: 20px
    &__additional
      grid-column: span 5
      margin-left: 21px
      margin-top: 20px
    &__legal
      grid-column: span 4
      margin-right: 11px
      margin-top: 20px
    &__contact
      &-details
        grid-column: span 10
        grid-row: 3
        margin-top: 31px
      &-form
        grid-column: span 12
        grid-row: 4
        margin-left: 1px
        margin-top: 8px
    &__form
      max-width: 538px
    &__input
      max-width: 255px
    &__info
      grid-column: span 12
      justify-content: flex-start
      padding-top: 28px
    &-info
      &__list
        padding: 0
        margin: 0
      &__item
        margin-left: 0
        margin-right: 13px
  .contact-details
    &__ul
      margin-left: 7px
  .pay-systems
    margin-left: auto
@media (max-width: 768px)
  .container
    max-width: 576px
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      &__menu-button
        display: flex
  .menu-button
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column
    width: 16px
    height: 11px
    padding: 0
    background-color: #ffffff
    border: none
    cursor: pointer
    &__line
      width: 16px
      height: 1px
      background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter-wrapper
    flex-direction: column
    align-items: flex-start
    max-width: 576px
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 30px
        &--prev
          left: 50%
          margin-left: -92px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -88px
          transform: translate(50%, 0)
      &__text
        text-align: left
  .card
    width: 100%
    height: 255px
  .packages
    &-list
      grid-template-columns: 1fr
    &__item
      max-width: 100%
      max-height: 504px
      &--popular
        flex-direction: column
        grid-column: 1
  .item
    &__offer
      padding: 8px 22px 7px 11px
      font-weight: 600
      font-size: 12px
      line-height: 15px
    &__picture
      width: 100%
      &--popular
        height: 250px
    &__info
      &--popular
        width: 100%
    &__stars
      display: none
    &__description
      display: none
    &__price
      &--popular
        margin-top: 0
@media (max-width: 576px)
  .container, .newsletter-wrapper
    max-width: 280px
  .navbar
    &-top
      padding-top: 23px
      padding-bottom: 30px
  .menu-button
    margin-top: 4px
  .logo
    width: 99px
  .breadcrumb
    &-list
      padding-top: 18px
      padding-bottom: 17px
  .hotel
    padding-top: 0px
    padding-bottom: 41px
    &-info
      padding-bottom: 38px
    &__slider
      margin-bottom: 20px
    &-slider
      height: 179px
    &-right
      min-height: 402px
  .stars
    padding-top: 6px
    padding-right: 14px
  .booking
    &__num
      margin-left: 8px
      margin-right: 3px
  .map
    height: 173px
  .newsletter
    padding: 59px 0 83px 0
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 5px
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
    &__input
      padding-left: 20px
  .reviews
    padding: 40px 0 70px 0
    &__title
      max-width: 250px
      margin: auto
      margin-bottom: 40px
      font-size: 18px
      line-height: 24px
  .activities
    padding: 8px 0 40px 0
    &__card
      &:nth-child(2)
        margin-bottom: 28px
    &__title
      margin-bottom: 32px
      font-size: 18px
  .item
    &__picture
      height: 195px
    &__info
      &--popular
        padding: 25px 20px 0 30px
    &__booking
      flex-wrap: wrap
    &__book
      width: 100%
  .footer
    padding: 68px 0 46px 0
    &-wrapper
      grid-template-columns: 1fr
      row-gap: 20px
    &__logo
      grid-column: 1
      grid-row: 1
      width: 96px
    &__ul
      margin-left: 1px
    &__social
      &-network
        grid-column: 1
        grid-row: 2
        flex-wrap: wrap
        margin: 22px 0 0 0
    &__title
      &--inline
        width: 100%
        margin: 0 0 22px 0
    &__legal
      grid-column: 1
      grid-row: 3
      justify-self: self-start
      margin-top: 7px
    &__additional
      grid-column: 1
      grid-row: 4
      margin-left: 0
      margin-top: 9px
    &__categories
      grid-column: 1
      grid-row: 5
      margin-top: 7px
    &__contact
      &-details
        grid-column: 1
        grid-row: 6
        margin-top: 21px
      &-form
        grid-column: 1
        grid-row: 7
    &__icon
      &-wrapper
        min-width: 29px
    &__info
      grid-column: 1
      grid-row: 8
      flex-wrap: wrap
    &__contact
      &-form
        margin-left: 0px
        margin-top: 20px
    &__form
      max-width: 100%
    &__input
      max-width: 100%
    &__message
      margin-bottom: 15px
    &__require
      order: 1
      width: 100%
      margin-bottom: 15px
    &__button
      order: 2
    &__info
      padding-top: 6px
    &-info
      &__list
        margin-bottom: 10px
      &__item
        margin: 0
        &:not(:last-child)
          margin-right: 10px
  .contact
    &-form
      &__title
        margin-bottom: 14px
  .pay-systems
    margin-left: 0
    margin-right: auto
